* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
.logo p{
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 1rem;
}
a {

text-decoration: none;

}

li {

list-style: none;

}
.navbar {

display: flex;

align-items: center;

justify-content: space-between;

padding: 10px;

background-color: rgba(255, 255, 255, 0.961);

color: blue;

}
.nav-links a {

color: blue;

}
.logo {
font-weight: bold;
font-size: 32px;
display: flex;
flex-direction: row;

}
.menu {
     padding-right: 5rem;
    display: flex;

    gap: 2em;

    font-size: 18px;

}
.menu li:hover {

    background-color: #FAAF40;

    border-radius: 5px;

    transition: 0.3s ease;

}
.menu li {

    padding: 5px 14px;

}
.services {

    position: relative;

}
.dropdown {

    background-color: rgb(1, 139, 139);

    padding: 1em 0;

    position: absolute;
    /*WITH RESPECT TO PARENT*/

    display: none;

    border-radius: 8px;

    top: 35px;

}
.dropdown li+li {

    margin-top: 10px;

}
.dropdown li {

    padding: 0.5em 1em;

    width: 8em;

    text-align: center;

}
.dropdown li:hover {

    background-color: #4c9e9e;

}

.services:hover .dropdown {

    display: block;

}


.first-section {
    background: rgba(58, 134, 255, 1);
    height:36rem;
border-bottom-right-radius: 25%;
width:97rem;
}

.general {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
}

.general .Part1 {
    padding: 1.2rem;
    text-align: center;
    margin-left: 13%;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #ECE6E6;
}

.general .Part1 p {
    text-align: start;
    margin-top:6rem;
}

.general .Part2 {
    margin-left: 10%;
    margin-top: 6rem;
    font-family: 'DM Sans';
    font-style: normal;
    color: #FFFFFF;
}

.general .texth1 {
    color: white;
    width:90px;
    padding-left: 3px;
    border: 3px solid rgb(12, 14, 131);
    background-color: blue;
    font-family: Montserrat;
    text-align: start;
    font-size: 65px;
    font-weight: 700;
  
}
.general .pexth2 {
    text-align: start;
    font-family: Montserrat;
    color: rgb(25, 44, 210);
    font-weight: Bold;
    font-size: 95px;
    font-weight:bold;
    top: 220px;
    left: 10rem;
    position: absolute;
}
.general .Part3 {
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: 9rem;
    width: max-content;
}

.general .anchor {
    text-decoration: none;
    background: #203cdd;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 150%;
    color: #f0eeeb;
    padding: 1rem 2.5rem;
    border-radius: 20px;
    border: 1px solid;
    transition: all 400ms ease;
}

.general .anchor:hover {
    font-size: 20px;
    background: transparent;
    color: #FAAF40;
    border: 3px solid;
    border-color: #FAAF40;

}


.general .cash {
    margin-top: 5rem;
}

.cash {
    width: 50%;
    height:50%;
    border-radius: 50%;
    border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-left: 100px;
        margin-bottom: 3rem;
        filter: brightness(120%);
            filter: contrast(120%);
            filter: drop-shadow(rgb(9, 7, 172) 10px 10px 10px );
}

.imager {
    
    width: 150%;
    height: 95%;
    margin-top:4rem;
    border: 1px solid rgb(89, 0, 255);
    border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        
}
.imager1 {
    width: 150%;
    height: 95%;
    margin-top: 3.6rem;
    border: 1px solid rgb(89, 0, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
}
.imager2 {
    width: 150%;
    height: 94%;
    margin-top: 3.6rem;
    border: 1px solid rgb(89, 0, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
}
.imager3 {
    width: 150%;
    height: 87%;
    margin-top: 3.6rem;
    border: 1px solid rgb(89, 0, 255);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
}
.imager4 {
    width: 150%;
    height: 95%;
    margin-top: 3.6rem;
    border: 2px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
}

.numbertext {
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    top:100px;
    left:130px;
}
/* Fading animation */
.fade {
    animation-name: slide;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.text {
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.instrucot{
   margin: 0 2px;
   left:70rem;
   top: 33rem;
   position: absolute;
   text-align: center;

}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
    background-color: #1c26d7;
}

input[type=checkbox] {

    display: none;

}

/*HAMBURGER MENU*/

.hamburger {

    display: none;

    font-size: 24px;

    user-select: none;

}


/*third section*/

.third-section {
    background: white;
    padding-bottom: 3rem;
}

.third-section h2 {
    text-align: center;
    padding-top: 3rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.third-section .speech-1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.third-section .speech {
    text-align: justify;
    margin-top: 8rem;
    margin-right: 14rem;

}

.third-section .speech h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 43px;
    padding-bottom: 0.5rem;
    color: #504848;
}

.third-section .speech p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: start;
    color: #504848;
    word-spacing: 0.1rem;
}

.third-section .speech-11 {
    margin-top: 4rem;
    margin-left: 11rem;
    /*for chrome*/
    -webkit-animation: linear infinite;
    -webkit-animation-duration: 3s;
        -webkit-animation-name: run;

        /*for firefox*/
        -moz-animation: linear infinite;
            -moz-animation-duration: 3s;
            -moz-animation-name: run;
        
            /* for opera*/
            -moz-animation: linear infinite;
            -o-animation-duration: 3s;
            -o-animation-name: run;
        
            /* Standard syntax*/
            animation-duration: 3s;
            animation-name: run;
        animation-direction: alternate;
}

.fmager1 {
    width: 80%;
    height: 95%;
    margin-top: 3.6rem;
    border: 3px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: brightness(120%);
        filter: contrast(120%);
        filter: drop-shadow(rgb(9, 7, 172) 10px 10px 10px);
}
 @-webkit-keyframes run {
     from {
         margin-left: 15rem;
         width: 80%;  
     }

     to {
         margin-left: 10rem;
         width: 80%;
     }
     
     
 }


.fmager2 {
    width: 65%;
    height: 85%;
    margin-top: 3.6rem;
    margin-left: 6rem;
    border: 3px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(rgb(9, 7, 172) 10px 10px 10px);
}
.fmager3 {
    width: 65%;
    height: 85%;
    margin-top: 3.6rem;
    margin-left: 12rem;
    border: 3px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(rgb(9, 7, 172) 10px 10px 10px);
}
.third-section .speech2 {
    text-align: justify;
    margin-top: 6.5rem;
    margin-left: 14rem;

}

.third-section .speech2 h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 43px;
    padding-bottom: 0.5rem;
    color: #504848;
}

.third-section .speech2 p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: start;
    color: #504848;
    word-spacing: 0.1rem;
}
.third-section .speech-22 {
    margin-top: 3.5rem;
    /*for chrome*/
    -webkit-animation: linear infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: sun;

    /*for firefox*/
    -moz-animation: linear infinite;
        -moz-animation-duration: 3s;
        -moz-animation-name: sun;
    
        /* for opera*/
        -moz-animation: linear infinite;
        -o-animation-duration: 3s;
        -o-animation-name: sun;
    
        /* Standard syntax*/
        animation-duration: 3s;
        animation-name: sun;
    animation-direction: alternate;
}
@-webkit-keyframes sun {
    from {
        margin-left: -2rem;
        width: 100%;
    }

    to {
        margin-left: 3rem;
        width: 100%;
    }


}
.third-section .speech-23 {
    margin-top: 3.5rem;
    /*for chrome*/
    -webkit-animation: linear infinite;
        -webkit-animation-duration: 3s;
        -webkit-animation-name: pun;
        /*for firefox*/
        -moz-animation: linear infinite;
            -moz-animation-duration: 3s;
            -moz-animation-name: pun;
        
            /* for opera*/
            -moz-animation: linear infinite;
            -o-animation-duration: 3s;
            -o-animation-name: pun;
        
            /* Standard syntax*/
            animation-duration: 3s;
            animation-name: pun;

        animation-direction: alternate;
}
@-webkit-keyframes pun {
    from {
        margin-left: -2rem;
        width: 100%;
    }

    to {
        margin-left: 3rem;
        width: 100%;
    }


}
/*about section*/
.about-section{
    background: rgba(58, 134, 255, 1);
    border-top-left-radius: 50px;
        border-top-right-radius: 50px;
}
.about-section h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    line-height: 42px;
    text-align: center;
    font-size: 40px;
    color: blue;
}
.aboutblab{
    margin-top: 1rem;
    border: 5px solid blue;
    background-color: #1c26d7;
    margin-left: 10rem;
    margin-right: 10rem;
    border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
}
.aboutblab p {
    padding-left: 2rem;
        padding-right: 2rem;
        font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    text-align:center;

}

.stronger h3 {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 27rem;
    padding-top: 2rem;
    color:white;
    font-weight: bolder;
    font-size: 40px;
}
.abpix{
    font-size: 30px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 1rem;
    padding-top: 3rem;
    padding-left:40rem;
}
.team{
    display: grid;
        grid-template-columns: 50% 50%;
        gap: 1%;
        margin-top: 2rem;
        margin-left: -3rem;
}
.aupics{
    display: flex;
    flex-direction: column;
}
.talks h5{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
        color: white;
    padding-bottom: 1rem;
}
.talks{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    padding-left: 14rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.aumeju{
    width:18%;
    height:70%;
    margin-left: 36rem;
    border-radius: 50%;
    border: 2px solid yellow;
}

.team1 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
    margin-top: 2rem;
    margin-left: -3rem;
}
.linautranz{
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 40rem;
    font-size: 30px;
    background-color: white;
    border-color: blue;
    border: 4px solid yellow;
}
/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

    .menu {

        display: none;

        position: absolute;

        background-color: teal;

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;

    }

    .menu li:hover {

        display: inline-block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    .menu li+li {

        margin-top: 12px;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;

    }

    .dropdown {

        left: 50%;

        top: 30px;

        transform: translateX(35%);

    }

    .dropdown li:hover {

        background-color: #4c9e9e;

    }

}

