* {
    box-sizing: border-box;
}

html, body {
    margin:0px;
    height:100%;
    overflow: hidden;
}

/*FRAMES*/

.top-frame {
display:grid;
     grid-template-columns: 50% 50%;
     gap:1%;
     height:100%;
     /*
    width: 100%;
    height: 840px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden; */
}

.signin-frame{
    padding-top:1vw;

}
.otro{
    width:30vw;
    margin-top:-8vw;
    margin-right:24vw;
}

/*LABEL*/


.speaksee-label {

    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 2vw;
    margin-left:16vw;
}

.autranz-label {

    color: rgb(25, 118, 210);
    top: 5px;
    left: 4px;
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 4vw;
    opacity: 1;
}

.top-frame-label {
    display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     text-align:center;
     background: rgb(58, 134, 255);
 }

 .account-label {

    font-family: Montserrat;
    font-weight: bolder;
    font-size: 1.4vw;
    opacity: 1;
    margin-top:3vw;
}

.img-label {
    margin-top:6vw;
}

.welcome-label {

    color: rgba(58, 134, 255, 1);
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 2.5vw;
    opacity: 1;
    text-align: left;
    margin-bottom:7vw;
}

.login-label {
    border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    width: 25vw;
        height: 4.5vw;
        background: rgba(58, 134, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 1.5vw;
    opacity: 1;
    text-align: center;
}

.signin-label {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-weight: bolder;

    font-size: 1.5vw;

}

.cont-label {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 1.2vw;
    margin-right:15vw;
    margin-top:1.5vw;
    opacity: 1;
    text-align: left;
}

.forgotpasswrd-label {
    color: rgba(0, 0, 0, 1);
    margin-top:-1.3vw;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 1.2vw;
    margin-left:16vw;
    margin-bottom:3vw;

}

.load{
   width:40vw;
   height: 20vw;
}
.pogin{
    display:flex;
    flex-direction:column;

    justify-content: center;
    align-items:center;
    margin-top:5vw;

}

/*INPUTS*/


.username-input{
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.15);
    width: 28vw;
    height: 5vw;
    color: rgba(58, 134, 255, 1);
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.passwrd-input {
     border-radius: 10px;
    width: 28vw;
    height: 5vw;
    color: rgba(58, 134, 255, 1);
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.social-input {
    display:flex;
    flex-direction:row;
    gap:1vw;
    justify-content:flex-start;
    align-items:flex-start;
    margin-right:13vw;
}

.v3_106 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
a{
    text-decoration: none;
}


/*SOCIALS*/


.facebook{
    border: 1px solid black;
    background-color: rgb(46, 79, 149);
    border-radius: 50%;
}
.googgle{
    border: 2px solid black;
        border-radius: 50%;
}
.twitterr{
    border: 1px solid black;
    background-color: rgb(29, 161, 242);
        border-radius: 50%;
}



/*

/*
.vN3_94{
    width: 731px;
        height: 840px;
        background: rgb(187, 75, 75);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 1000px;
        overflow: hidden;
}





.v3_112 {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 445px;
    left: 675px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_141 {
    width: 44px;
    height: 70px;
    background: url("../images/v3_141.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 87px;
    transform: rotate(-159deg);
    overflow: hidden;
}

.v3_137 {
    width: 19px;
    height: 44px;
    background: url("../images/v3_137.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 12px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform: rotate(-159deg);
}

.v3_138 {
    width: 44px;
    height: 28px;
    background: url("../images/v3_138.png");
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform: rotate(-159deg);
}

.v3_139 {
    height: 12px;
    background: url("../images/v3_139.png");
    opacity: 1;
    position: absolute;
    top: 57px;
    left: 22px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform: rotate(-159deg);
}

.v3_140 {
    width: 25px;
    background: url("../images/v3_140.png");
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 9px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform: rotate(-159deg);
}

.v3_113 {
    width: 384px;
    height: 176px;
    background: url("../images/v3_113.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 328px;
    left: 83px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v3_157 {
    width: 44px;
    height: 50px;
    background: url("../images/v3_157.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 579px;
    left: 423px;
    overflow: hidden;
}

.v3_158 {
    width: 44px;
    height: 16px;
    background: url("../images/v3_158.png");
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.v3_159 {
    width: 22px;
    height: 22px;
    background: url("../images/v3_159.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 11px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.v3_162 {
    width: 44px;
    height: 49px;
    background: url("../images/v3_162.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 689px;
    left: 423px;
    overflow: hidden;
}

.v3_163 {
    width: 44px;
    height: 27px;
    background: url("../images/v3_163.png");
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.v3_164 {
    width: 24px;
    height: 22px;
    background: url("../images/v3_164.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 9px;
    border: 1px solid rgba(0, 0, 0, 1);
}




.name {
    color: #fff;
}



.msg {
    color: red;
    position: absolute;
    top: 129px;
    left: 1013px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}
.v3_97 {
    width: 406px;
    height: 90px;
    background: url("../images/v3_97.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 1013px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}




.v3_145 {
    width: 44px;
    height: 50px;
    background: url("../images/v3_145.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 336px;
    overflow: hidden;
}

.v3_143 {
    width: 44px;
    height: 16px;
    background: url("../images/v3_143.png");
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-bottom-style: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.v3_144 {
    width: 22px;
    height: 22px;
    background: url("../images/v3_144.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 11px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;

}

.v3_98 {
    width: 406px;
     height: 90px;
    background: url("../images/v3_98.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 272px;
    left: 1013px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}



.v3_149 {
    width: 40px;
    height: 44px;
    background: url("../images/v3_149.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 339px;
    overflow: hidden;
}

.v3_147 {
    width: 40px;
    height: 24px;
    background: url("../images/v3_147.png");
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;

}

.v3_148 {
    width: 22px;
    height: 20px;
    background: url("../images/v3_148.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 8px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-bottom-style: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}


.vn3_105 {
    width: 180px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 353px;
    left: 1310px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: justify;
}
.v3_166 {
    width: 241px;
    color: rgba(0, 0, 0, 0.699999988079071);
    position: absolute;
    top: 597px;
    left: 85px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v3_167 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 132px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_168 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 185px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_169 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 238px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_170 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 291px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_171 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 105px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_172 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 158px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_173 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 211px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v3_174 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 264px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}


.v6_238 {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 893px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v5_228 {
    width: 9px;
    height: 11px;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 49px;

}

.v6_233 {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 63px;
    transform: rotate(-159deg);
    overflow: hidden;
}

.v6_234 {
    width: 29px;
    height: 29px;
    background: rgba(255, 193, 7, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
}

.v6_235 {
    width: 22px;
    height: 11px;
    background: rgba(255, 61, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 4px;
}

.v6_236 {
    width: 22px;
    height: 11px;
    background: rgba(76, 175, 80, 1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 4px;
}

.v6_237 {
    width: 14px;
    height: 13px;
    background: rgba(25, 118, 210, 1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 17px;
}


.v7_258 {
    width: 20px;
    height: 36px;
    background: url("../images/v7_258.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 56px;
    transform: rotate(-159deg);
    overflow: hidden;
}

.v7_257 {
    width: 17px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    border: 1px solid rgba(59, 89, 152, 1);
    transform: rotate(-152deg);
}

.v7_263 {
    width: 70px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 1060px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v7_264 {
    width: 9px;
    height: 11px;
    background: url("../images/v7_264.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;

}

.v7_261 {
    width: 42px;
    height: 35px;
    background: url("../images/v7_261.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 65px;
    transform: rotate(-159deg);
    overflow: hidden;
}

.v7_260 {
    width: 42px;
    height: 35px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform: rotate(-159deg);
}*/
