* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
html, body{
    overflow-x:hidden;
    margin:0;
    height: 100%;
    width:100%;
}
.logo p{
    font-size: 15px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.ssname{
    display:none;
}
a {

text-decoration: none;

}

li {

list-style: none;

}
.navbar {

display: flex
flex-direction:column;
align-items: flex end;

justify-content: space-between;

padding: 10px;

 background-color: #1f1f38;
 border: 3px solid blue;
 height:100%;

color: blue;

}
.nav-links a {

color:#4db5ff;

}

.logo {
font-weight: bold;
font-size: 32px;
display: flex;
flex-direction: row;
color:#4db5ff;

}

.urofile h5{
    color: white;
    font-size:40px;
    margin-top:7vw;
}
.menu {
    margin-top:3vw;
     padding-right: 2rem;
    display: flex;
    flex-direction:column;
    gap: 2em;

    font-size: 18px;

}
.menu .ogred{
    color:red;
}
.menu li:hover {

    background-color: white;

    border-radius: 5px;

    transition: 0.3s ease;

}
.menu li {

    padding: 5px 14px;

}

input[type=checkbox] {

    display: none;

}

/*HAMBURGER MENU*/

.hamburger {

    display: none;

    font-size: 24px;

    user-select: none;

}

.prid{
    display:grid;
     grid-template-columns: 20% 80%;
     height:100%;

}
.vigate{
 background: #1f1f38;
 height: 100%;
 width:100%;
}
.nigate{
    display:none;
}


.v13_93 {

    display:flex;
    justify-content:flex end;
    align-items:center;
    height: 5vw;
    background: #1f1f38;
    border: 3px solid blue;
    overflow: hidden;
}

.v13_94 {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 23px;
    overflow: hidden;
    display: none;
}

.v13_95 {
    display:none;
    width: 21px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 5px;
    left: 4px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v13_96 {
    display: none;
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 19px;
    left: 53px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v13_97 {
    display: none;
    width: 487px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 164px;
    overflow: hidden;
}

.v13_98 {
    display:none;
    width: 13px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 6px;
}

.v13_99 {
    display:flex;
     width: 100vw;
    margin-left:1vw;
    color: red;
    font-family: Montserrat;
    font-weight:bolder;
    font-size: 1.5vw;
    opacity: 1;
    text-align: left;
}

.v13_100 {

    width: 10vw;
    margin-left:20vw;
    margin-right:10vw;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-weight:bolder;
    font-size: 3vw;
    opacity: 1;
    text-align: left;
}
.info-name {

    overflow: hidden;
    margin-left:4vw;
    margin-top:3vw;
}

.rame{
    font-size: 1.5vw;

}
.usrname {
   border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 17vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}

.info-email {
     margin-left:4vw;
    margin-top:3vw;
    opacity: 1;
    display:flex;
   flex-direction:column;
}

.emdress{
   font-size: 1.5vw;

}

.Emailid{
     border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 17vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.info-location{
    margin-left:4vw;
    margin-top:3vw;
    opacity: 1;
    display:flex;
   flex-direction:column;
}
.Location{
 font-size: 1.5vw;
}
.location{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 17vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.info-Lname{
    margin-left:40vw;
    margin-top:-19vw;
    width:100vw;
    display:flex;
   flex-direction:column;
}
.kname{
  font-size: 1.5vw;

}
.Lname{
     border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 17vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.ronald{
    display:grid;
     grid-template-columns: 50% 50%;

}

.info-postal{
     margin-left:40vw;
     margin-top:3vw;
    width:100vw;
    display:flex;
   flex-direction:column;
}
.code{
    font-size: 1.5vw;
}
.pode{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 17vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.namec{
    display:flex;
    justify-content: center;
    margin-top:6vw;
    align-items:center;
}
.profile-picture {
    width: max-content;
    height: max-content;
    border:3px solid blue;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-self:center;
    align-items:center;
}
.profile-picturehi {
    opacity: 1;
    overflow: hidden;
    font-size:small;
}

.info-submit {
     margin-left:40vw;
     margin-top:3vw;
 width:max-content;
 height:max-content;
}
.info-submit input[type=submit]{
     background-color: #1f1f38;
    color:white;
    outline: none;
    border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom-style: hidden;
        font-family: Montserrat;
            font-weight: SemiBold;
          font-size:1.5vw;
}


.info-submit input[type=submit]:hover{
    font-size: 2vw;
}




@media screen  and (max-width: 600px) {
    html, body{
    overflow-x:hidden;
}
.prid{
    display:grid;
     grid-template-columns: 100%;
     height:100%;
}
.vigate{
    display:none;
}
.nigate{
    display:block;
}

.menu {

        display: none;
        margin-top:-3vw;
        background-color: #1f1f38;
        right: 0;

        left: 0;
       font-size:20px;
       font-weight:bolder;
     padding: 16px 40px;

    }

    .menu li:hover {

        display: inline-block;

        background-color: #4c9e9e;

        transition: 0.3s ease;

    }

    .menu li+li {

        margin-top: 12px;

    }

    input[type=checkbox]:checked~.menu {

        display: block;

    }

    .hamburger {

        display: block;
        color :#4db5ff;
        font-size:50px;

    }

    .dropdown {

        left: 50%;

        top: 30px;

        transform: translateX(35%);

    }

    .dropdown li:hover {

        background-color: #4c9e9e;

    }


.v13_93 {
    display:none;
}
 .urofile h5{
     font-size:15px;
     display:none;
 }
.ssname{
    display:block;
}

.info-name {

    overflow: hidden;
    margin-left:4vw;
    margin-top:6vw;
}

.rame{
    font-size: 4vw;

}
.usrname {
   border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 87vw;
    height:7vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}

.info-email {
     margin-left:4vw;
    margin-top:3vw;
    opacity: 1;
    display:flex;
   flex-direction:column;
}

.emdress{
   font-size: 4vw;

}

.Emailid{
     border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
     width: 87vw;
    height:7vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.info-location{
    margin-left:4vw;
    margin-top:3vw;
    opacity: 1;
    display:flex;
   flex-direction:column;
}
.Location{
 font-size: 4vw;
}
.location{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
    width: 87vw;
    height:7vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.info-Lname{
    margin-left:4vw;
    margin-top:3vw;
    width:100vw;
    display:flex;
   flex-direction:column;
}
.kname{
  font-size: 4vw;

}
.Lname{
     border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
     width: 87vw;
    height:7vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.ronald{
    display:grid;
     grid-template-columns: 100%;

}

.info-postal{
         margin-left:4vw;
    margin-top:3vw;
    width:100vw;
    display:flex;
   flex-direction:column;
}
.code{
    font-size: 4vw;
}
.pode{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-width: 2px;
     width: 87vw;
    height:7vw;
    outline: none;
    color: rgba(0, 0, 0, 0.800000011920929);
    font-family: Montserrat;
    font-weight: Medium;
    opacity: 1;
    text-align: left;
    font-size: 16px;
    opacity: 1;
    margin-top:1vw;
}
.namec{
    display:flex;
    justify-content: center;
    margin-top:4vw;
    align-items:center;
}
.profile-picture {
    width: max-content;
    height: max-content;
    border:3px solid blue;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-self:center;
    align-items:center;
}
.profile-picturehi {
    opacity: 1;
    overflow: hidden;
    font-size:small;
}

.info-submit {
        margin-left:39vw;
    margin-top:8vw;
 width:max-content;
 height:max-content;
}
.info-submit input[type=submit]{
     background-color: #1f1f38;
    color:white;
    outline: none;
    border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom-style: hidden;
        font-family: Montserrat;
            font-weight: SemiBold;
          font-size:4vw;
}


.info-submit input[type=submit]:hover{
    font-size: 5vw;
}

}
