<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="static/landingpage.css">
    </head>
    <body>
      <section class="first-section">
    <div class="general">
    
        <div  class="alltext">
        <div class="text1">
           <article class="Part2">
          <h2 class="texth1">au</h2>
          <h2 class="pexth2">Tranz</h2>
           </article>
           <article class="Part1">
          <p >Autranz is an affordable transcription service app that converts your audio file and returns an accurate transcription of the audio file.
            whats more?..You can translate the transcribed file and also save. IT IS TOTALLY FREE!!!
          </p>
           </article>
           <div class="Part3">
         <a href='/signup' class='anchor'>Get Started</a>
         </div>
          </div>
            
          </div>
          <div class="slideshow-container">
          <div class= "cash fade">
            <div class="numbertext">1 / 3</div>
            <img class="imager" src="{{url_for('static', filename = 'images/update1.jpg')}}">
            
            </div>

            <div class="cash fade">
           <div class="numbertext">2 / 3</div>
            <img class="imager" src="{{url_for('static', filename = 'images/update2.jpg')}}">
             
              </div>

             <div class="cash fade">
              <div class="numbertext">3 / 3</div>
              <img class="imager" src="{{url_for('static', filename = 'images/update1.jpg')}}">
                
              </div>
             </div>

             <div class="instrucot" >
           <span class="dot"></span> 
            <span class="dot"></span> 
              <span class="dot"></span> 
              </div>

<br> 
           </div>
           </section>
        <script>
       let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("cash");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
        </script>
    </body>
</html>