<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="static/landingpage.css">
    </head>
    <body>
        <nav class="navbar">
        <div class="logo">Autranz</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
            <li><a href="/">Home</a></li>
             <li><a href="/">About</a></li>
             <li class="services">
             <a href="/">Services</a>
             <ul class="dropdown">
                <li><a href="/">Dropdown 1 </a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 3</a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 2</a></li>
             </ul>
            </li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
        </div>
    </ul>
</nav>
      <section class="first-section">
    <div class="general">
        <div  class="alltext">
        <div class="text1">
           <article class="Part2">
          <h2 class="texth1">au</h2>
          <h2 class="pexth2">Tranz</h2>
           </article>
           <article class="Part1">
          <p >Autranz is an affordable transcription service app that converts your audio file and returns an accurate transcription of the audio file.
            whats more?..You can translate the transcribed file and also save. IT IS TOTALLY FREE!!!
          </p>
           </article>
           <div class="Part3">
         <a href='/signup' class='anchor'>Get Started</a>
         </div>
          </div>
            
          </div>
          <div class="slideshow-container">
          <div class= "cash fade">
            
            <img class="imager" src="{{url_for('static', filename = 'images/update1.jpg')}}">
            </div>

            <div class="cash fade">
            <img class="imager1" src="{{url_for('static', filename = 'images/update2.jpg')}}">
             
              </div>

             <div class="cash fade">
              
              <img class="imager2" src="{{url_for('static', filename = 'images/update6.jpg')}}">
                
              </div>
               <div class="cash fade">
              
              <img class="imager3" src="{{url_for('static', filename = 'images/update4.jpg')}}">
                
              </div>
               <div class="cash fade">
              
              <img class="imager4" src="{{url_for('static', filename = 'images/update5.jpg')}}">
                
              </div>
             </div>

             <div class="instrucot" >
           <span class="dot"></span> 
            <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              </div>

<br> 
           </div>
           </section>


           
        <section class="third-section">
        <h2>Autranz features
        </h2>
        <div class="speech-1">
          <div class= "speech-11"> 
          <img class="fmager1" src="{{url_for('static', filename = 'images/feature1.jpg')}}" alt=""/>
          </div>
            <article class="speech">
             <h3>Transcription</h3>
             <p>Upload desired audio and convert to text as quick as the flash!!! </p>
            </article>
      
        </div>
        <div class="speech-1">
            <article class="speech2">
             <h3>Translate transcribed audio files</h3>
             <p>Transcribed audio files can be translated into various languages. The languages available will be released in the coming update</p>
            </article>

             <div class= "speech-22"> 
          <img class="fmager2" src="{{url_for('static', filename = 'images/feature2.jpg')}}" alt=""/>
          </div>
        </div>
        
        <div class="speech-1">
          <div class= "speech-23"> 
           <img class="fmager3" src="{{url_for('static', filename = 'images/feature3.jpg')}}" alt=""/>
          </div>
            <article class="speech">
             <h3>Log in and save transcribed files</h3>
             <p>You need to take a break ?, Never lose progress as transcribed files can be saved.</p>
            </article>
        
        </div>
        </section>
         
         <section class="about-section">
             <h2>About Autranz 
        </h2>

        <script>
       let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("cash");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
        </script>
    </body>
</html>