<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="static/loooogin.css">
        <meta name="viewport" content="width=device-width", initia-scale=1.0">
    </head>
    <body>

        <div class="v3_67">



            <div class="v3_94">
            <div class="otro">
                <span class="v3_69">AuTranz</span>
                <span class="v3_109">Speak, See</span>
                </div>

                <div class="v3_68">
                    <span class="v3_111">Sign in and transcribe</span>
                </div>
                <span class="v3_70"></span>
                  <div class="vn3_70">
                  <img class="load" src="{{url_for('static', filename = 'images/speak1.jpg')}}">
                </div>
            </div>

            <div class="pogin" >
                     <span class="v3_96">Hello! welcome back</span>
                     <div class="msg">{{ msg }}</div>

            <div class="v3_97">
            <form action="{{ url_for('login') }}" method="post">

        <input class="v3_99" id="username" name="username" type="text" placeholder="Username" class="textbox" required/>
                <div class="v3_145">
                    <div class="v3_143"></div>
                    <div class="v3_144"></div>
                </div>
            </div>
            <div class="v3_98">
                   <input class="v3_103" id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br>
               <div class="v3_149">
               <div class="v3_147">
               </div>
              </div>
                <div class="v3_148">
            </div>
        </div>
                 <span class="v3_105">Forgot password?</span>

               <div class="v3_106">

                <input  type="submit"  class="v3_108" value="LOGIN">
                </div>
               </form>

                <span class="v5_225">Continue with</span>


                <div class="v7_249">
                    <div class="v7_250">
                        <a href="www.google.com" ><img class="facebook" src="{{url_for('static', filename = 'images/LOGIN1.png')}}"></a>
                    </div>

                  <div class="v7_2500">
                           <a href="www.google.com" > <img class="googgle" src="{{url_for('static', filename = 'images/LOGIN2.png')}}"></a>
                    </div>

                    <div class="v7_25000">
                           <a href="www.google.com" > <img class="twitterr" src="{{url_for('static', filename = 'images/LOGIN3.png')}}"></a>
                    </div>
                </div>

                <p class="v7_270">don’t have an account? <a  href="{{url_for('signup')}}"> Sign up</a></p>
            </div>
            </div>




        </body>
        </html>
