<!DOCTYPE html>
<html>
  <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="static/index.css" rel="stylesheet" />
    <title>Autranz</title>
  </head>
  <body>



      <div class="prid">

       <div class='pigate'>
           <div class="nigate">
        <nav class="navbar">
        <div class="logo">Autranz<p>speak, see</p></div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="urofile"><h5>Transcribe</h5></div>
            <div class="menu">

        <a  href="{{url_for('userprofile', user=session.userid)}}"><li> User Profile</li></a>
          <a  href="{{url_for('index', user=session.userid)}}"><li> Transcribe</li></a>
          <a  href="{{url_for('home')}}"><li>Detect lang.</li></a>
            <a  href="{{url_for('index')}}"><li class="v13_246">Save</li></a>
            <a href="{{ url_for('logout') }}" class="btn"><li class="ogred" >Logout</li> </a>

         </div>
    </ul>
</nav>
     </div>

       <div class="vigate">
       <nav class="navbar">
        <div class="logo">Autranz<p>speak, see</p></div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="urofile"><h5>Transcribe</h5></div>
            <div class="menu">
        <a  href="{{url_for('userprofile', user=session.userid)}}"><li> User Profile</li></a>
          <a  href="{{url_for('index', user=session.userid)}}"><li> Transcribe</li></a>
          <a  href="{{url_for('home')}}"><li>Detect lang.</li></a>
            <a  href="{{url_for('index')}}"><li class="v13_246">Save</li></a>
            <a href="{{ url_for('logout') }}" class="btn"><li class="ogred" >Logout</li> </a>

         </div>
    </ul>
</nav>
</div>
</div>

      <div class="fupdate">
         <div class="v13_93">
        <div class="v13_94"><span class="v13_95">au</span></div>
        <span class="v13_96">Tranz</span>
        <div class="v13_97">
          <div class="v13_98"></div>
        </div>
         <span class="v13_99">UPDATE YOUR INFO</span>
        <span class="v13_100">{{session.username}}</span>
      </div>
		<main>
			<div class="main__container">
				<h1>Transcribe your audio </h1>
			</div>
			<div class="npload"><h2>Upload new File (file must be wav file and not more than 1min)</h2></div>
			<div class="aitranscribe" >
			<form method="post" enctype="multipart/form-data">
				<input class="choose" type="file" name="file" />
				<br />
				<input
					type="submit"
					id="submitButton"
					value="Transcribe"
					formaction="/transcribe"
				/>
			</form>
		</div>
			{% if transcript != "" %}
			<div class="transcript__wrapper">
				<h1 class="transcript__header">Transcript</h1>
				<p class="transcript__text">{{ transcript }}</p>
{% if language == 'de'%}
<h4 class="transcript__text" style="color:red;">Detected German, Language code: {{language}}</h4>
{% elif language == 'es'%}
<h4 class="transcript__text"style="color:red;">Detected Spanish, Language code: {{language}}</h4>
{% elif language == 'zh-CN'%}
<h4 class="transcript__text" style="color:red;">Detected Chinese, Language code: {{language}}</h4>
{% elif language == 'fr'%}
<h4 class="transcript__text" style="color:red;">Detected French, Language code: {{language}}</h4>
{% elif language == 'en'%}
<h4 class="transcript__text" style="color:red;">Detected English, Language code: {{language}}</h4>
{% elif language == 'ja'%}
<h4 class="transcript__text" style="color:red;">Detected Japanese, Language code: {{language}}</h4>
{% elif language == 'ru'%}
<h4 class="transcript__text" style="color:red;">Detected Russian, Language code: {{language}}</h4>
{% elif language == 'it'%}
<h4 class="transcript__text"style="color:red;">Detected Italian, Language code: {{language}}</h4>
{% elif language != ' ' %}
<h4 class="transcript__text" style="color:red;">Detected Language code: ({{language}})...<a href="https://www.google.com/search?q={{language}} is which language code" rel="search" target="_blank">Click me to get country name</a></h4>
{% else: %}
<h4 class="transcript__text" style="color:red;" >Detected Language will be displayed here after transcription</h4>
{% endif %}
			</div>
			{% endif %}
		</main>
		</div>
	</body>
</html>
