<!DOCTYPE html>
<html>
  <head>
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="static/userprofile.css" rel="stylesheet" />
    <title>Autranz</title>
  </head>
  <body>
    <div class="v13_92">
      <div class="v13_93">
        <div class="v13_94"><span class="v13_95">au</span></div>
        <span class="v13_96">Tranz</span>
        <div class="v13_97">
          <div class="v13_98"></div>
          <span class="v13_99">Search icon</span>
        </div>
        <span class="v13_100">{{session.username}}</span>
        <div class="name"></div>
        <div class="v13_102">
          <div class="v13_103"></div>
          <div class="v13_104"></div>
        </div>
        <div class="v40_4"></div>
      </div>

       <nav class="navbar">
        <div class="logo">Autranz<p>speak, see</p></div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
            <a href="#intro"><li>Intro</li></a>
             <a href="#features"><li>Features</li></a>
             <a href="#about"><li>About</li></a>
            <a href="/signup"><li>Sign Up</li></a>
            <a href="/login"><li>Login</li></a>
        </div>
    </ul>
</nav>
      <div class="v13_241">
        <span class="v13_242">User Profile</span>
        <a  href="{{url_for('userprofile', user=session.userid)}}"><span class="v13_243"> User info</span></a>
          <a  href="{{url_for('index', user=session.userid)}}"><span class="v13_244"> Transcribe</span></a>
          <a  href="{{url_for('home')}}"><span class="v13_245">Detect lang.</span></a>
            <a  href="{{url_for('index')}}"><span class="v13_246">Save</span></a>
            <a href="{{ url_for('logout') }}" class="btn"><span class="v13_249">Logout</span>   </a>
      </div>



      <div class="profile-picture"></div>
       <div class="profile-picturehi">  <h1>Hi there,</h1></div>
      <div class="profile-picturef">  <h1> {{session.fname}}</h1></div>
      <div class="profile-picturel">  <h1> {{session.lname}}</h1></div>

       <form action="{{ url_for('userprofile', userid=userid) }}" method="post">
       {% if mesage is defined and mesage %}
		   <div >{{ msg }}</div>
	     {% endif %}
      <div class="info-name">
        <label for="username" class="Name">Username</label><br />
        <input
          class="usrname"
          id="username"
          type="text"
          placeholder="enter your Fname"
          name="username"
         value="{{ editUser.username }}"
        />
      </div>
      <div class="info-email">
        <label for="fname" class="email Address">First Name</label>
        <input
          class="Emailid"
          id="fname"
          type="text"
          name="fname"
          size="30"
          placeholder="Enter your Full name"
          name="fname"
         value="{{ editUser.fname }}"
          required
        />
      </div>
      <div class="info-location">
        <label for=" Lname" class="Location">Last Name</label>
        <input
          class="location"
          id="lname"
          name="lname"
          type="text"
          placeholder="enter your last name"
          name="lname"
         value="{{ editUser.lname }}"
        />
      </div>
      <div class="info-Lname">
        <label for="email" class="Last Name">Enter your Email address</label>
        <input
          class="Lname"
          id="email"
          name="email"
          type="text"
          placeholder="enter your emaill"
           name="email"
           value="{{ editUser.email }}"
        />
      </div>
        <div class="info-postal">
        <label for="password" class="Postal code">Change Password</label>
        <input
          class="postal code" value="{{ editUser.password }}"
          id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Enter Your Password" class="textbox"/>
      </div>
      <input type="hidden" id="userid" name="userid" value="{{ editUser.userid }}">
      <div class="info-submit">

        <input class="submit" type="submit" value="save Changes" />
      </div>
    </form>
    </div>
  </body>
</html>

